.dice-input {
  font-size: 0.85em;
  color: var(--primary-very-high, $primary-very-high);
}

.dice-sum, .dice-numpass, .dice-results > .die:only-child {
  font-weight: bold;
}
.threshold-pass .dice-sum, .die.threshold-ipass {
  color: var(--success, $success);
}
.threshold-fail .dice-sum, .die.threshold-ifail {
  color: var(--danger, $danger);
}
.dice-input-explain img.emoji {
  // controversial setting, get feedback
  vertical-align: text-bottom;
}
.dice-threshold-txt, .dice-input.dice-mod, .dice-individual-txt {
  margin-left: 0.25em;
}

.dice-results {
  word-wrap: normal;
}
.die.dice-crit {
  font-weight: bold;
  &.crit-1 {
    color: var(--danger, $danger);
  }
}

.dice-join-plus {
  margin: 0 0.095em;
  word-wrap: break-word;
}
.dice-mod-sym {
  margin-right: 0em;
  margin-left: 0.095em;
}
