.dice-input {
  font-size: 0.85em;
  color: var(--primary-very-high, $primary-very-high);
}

.dice-sum, /* .dice-numpass, */ .dice-results > .die:only-child {
  font-weight: bold;
}

.threshold-pass .dice-sum,
.die.threshold-ipass {
  color: var(--success, $success);
}

.threshold-fail .dice-sum,
.die.threshold-ifail {
  color: var(--danger, $danger);
}

.dice-threshold-txt,
.dice-input.dice-mod,
.dice-individual-txt {
  margin-left: 0.25em;
}

.dice-results {
  word-wrap: normal;
}

.die.dice-crit {
  font-weight: bold;
  font-style: italic;

  &.crit-1 {
    color: var(--danger, $danger);
  }
}

.dice-join-plus {
  margin: 0 0.095em;
  word-wrap: break-word;
}

.dice-mod-sym {
  margin-right: 0;
  margin-left: 0.095em;
}

.contents .dice-input-explain {
  // Give an indicator that this is a legitimate roll by doing something normal
  // posts can't. Designers: feel free to replace this with a replacement for
  // the <blockquote> style.
  .emoji:first-of-type {
    float: left;
    margin: 0.5em 6px 0.5em -6px;
  }
}
